.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    width: 254.84px;
    height: 68.94px;
    margin: 0 auto;
    padding-top: 34px;
}
@media screen and (max-width:1024px) {
    .header__logo{
    width: 254px;
    height: 66px;
    padding-top: 30px;
}
}
@media screen and (max-width:544px) {
  .header__logo{
    width: 188.62px;
    height: 11.1px;
    padding-top: 20px;
}  
}