.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 148px;
    max-width: 984px;
    margin: 0 auto;
}
.intro__title{
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    width: 100%;
    max-width: 830px;
    margin: 92px 0 0 0;
}
.intro__subtitle{
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    width: 100%;
    max-width: 738px;
    margin: 40px 0 0 0;
}
.intro__cite{
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    text-align: right;
    width: 100%;
    max-width: 732px;
    margin: 10px 0 0 0;
}
.intro__description{
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    max-width: 722px;
    margin: 32px 0 0 0;
}
@media screen and (max-width:1024px){
    .intro {
        padding: 0 24px;
        max-width: 928px;
    }
.intro__title{
    font-size: 45px;
    line-height: 49px;
    max-width: 720px;
    margin: 88px 0 0 0;
}
.intro__subtitle{
    max-width: 720px;
    margin: 58px 0 0 0;
}
.intro__cite{
    max-width: 720px;
}
.intro__description{
    max-width: 720px;
    margin: 42px 0 0 0;
}
}
@media screen and (max-width:544px) {
    .intro {
        padding: 0 16px;
        align-items: center;
    }
 .intro__title{
    font-size: 32px;
    line-height: 35px;
    width: 100%;
    max-width: 288px;
    margin: 64px 0 0 0;
}
.intro__subtitle{
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    max-width: 288px;
    margin: 40px 0 0 0;
}
.intro__cite{
    font-size: 24px;
    line-height: 34px;
    max-width: 100%;
    text-align: right;
    align-self: center;
}
.intro__description{
    width: 100%;
    margin: 32px 0 0 0;
}
}