.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lead__title{
    font-family: "Inter";
    font-style:normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 720px;
    height: 200px;
    margin-top: 91.06px;
    margin-bottom: 0;
}
.lead__subtitle{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 720px;
    height: 72px;
    margin-top: 32px;
    margin-bottom: 0;
}
.lead__image{
    width: 984px;
    height: 615px;
    margin-top: 64px;
}
@media screen and (max-width:1024px) {
    .lead__title{
    font-size: 75px;
    line-height: 79px;
    width: 530px;
    height: 158px;
    margin-top: 90px;
}
.lead__subtitle{
    margin-top: 25px;
}
.lead__image{
    width: 768px;
    height: 480px;
    margin: 30px 0 0 0;
}
}
@media screen and (max-width:544px) {
  .lead__title{
    font-size: 40px;
    line-height: 44px;
    width: 228px;
    height: 88px;
    margin-top: 50px;
}
.lead__subtitle{
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    height: 40px;
    margin-top: 16px;
}
.lead__image{
    width: 320px;
    height: 200px;
    margin-top: 40px;
}
}