.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
}
.lead__title{
    font-family: "Inter", "Arial", sans-serif;
    font-style:normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    max-width: 100%;
    max-width: 720px;
    margin: 90px 0 0 0;
}
.lead__subtitle{
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 100%;
    max-width: 720px;
    margin: 32px 0 0 0;
}
.lead__image{
    width: 100%;
    max-width: 984px;
    height: auto;
    margin: 64px 0 0 0;
}
@media screen and (max-width:1024px) {
    .lead {
        padding: 0 24px;
    }
    .lead__title{
    font-size: 75px;
    line-height: 79px;
    margin: 90px 0 0 0;
}
.lead__subtitle{
    margin: 25px 0 0 0;
}
.lead__image{
    margin: 30px 0 0 0;
}
}
@media screen and (max-width:544px) {
    .lead {
        padding: 0 16px;
    }
  .lead__title{
    font-size: 40px;
    line-height: 44px;
    width: 100%;
    margin: 50px 0 0 0;
}
.lead__subtitle{
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    margin: 16px 0 0 0;
}
.lead__image{
    margin: 40px 0 0 0;
}
}