.places__content {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 48px 40px;
  max-width: 984px;
  margin: 0 auto;
  padding: 80px 0;
  grid-template-areas:
        'title artist'
        'image text'
        'button text';
}
.places__title { 
  grid-row: 1;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  align-self: end;
  grid-area: title;
 
}
.places__website { 
  align-self: end;
  margin: 0;
  grid-area: artist;
}
.places__url-heading{
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 0 0 8px 0;
}
.places__artist{
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;

}

.places__image { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 6px 6px 20px #000000;
  grid-area: image;
}
.places__paragraph { 
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-area: text;
}
.places__button{
  width: max-content;
  height: max-content;
  border: none;
  padding: 13px 20px;
  border-radius: 6px;
  background-image: linear-gradient(to right, #0278FE 46px, #003A7B 236px);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  grid-area: button;
  text-decoration: none;
}
@media screen and (max-width:1024px){
  .places__content{
    grid-template-columns: 340px 1fr;
    gap: 72px 28px;
    max-width: 720px;
    padding: 72px 0px;

    }
    .places__title{
      font-size: 42px;
      line-height: 46px;
    }
    .places__image{
      max-width: 340px;
    }
    .places__paragraph{
      font-size: 16px;
    }
}
@media screen and (max-width:544px){
  .places__content{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    padding: 50px 0;
    max-width: 320px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
  }
  .places__title{
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
  .places__image{
    max-width: 340px;
  }
  .places__paragraph{
    font-size: 16px;
  }
}