.places__content {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 48px 40px;
  max-width: 984px;
  margin: 0 auto;
  padding: 80px 0;
}
.places__title { 
  grid-column: 1;
  grid-row: 1;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  align-self: end;
 
}
.places__website { 
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  margin: 0; 
}
.places__url-heading{
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 0 0 8px 0;
}
.places__artist{
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;

}

.places__image { 
  grid-column: 1; 
  grid-row: 2;
  width: 100%;
  max-height: 460px;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 6px 6px 20px #000000;
}
.places__paragraphas { 
  grid-column: 2;
  grid-row: 2;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}
.places__button{
grid-column: 1;
grid-row: 3;
max-width: 289px;
height: 48px;
width: 100%;
margin: 0;
border-radius: 6px;
background-image: linear-gradient(to right, #0278FE 46px, #003A7B 236px);
font-family: "Inter", "Arial", sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 100%;
color: #ffffff;
margin-top: -20px;
}